<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.david.evo16-web</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/djenttleman/dev/evo16-web/backend/evo16-web.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>WorkingDirectory</key>
    <string>/Users/djenttleman/dev/evo16-web</string>
    <key>StandardOutPath</key>
    <string>/Users/djenttleman/dev/evo16-web/backend/evo16-web.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/djenttleman/dev/evo16-web/backend/evo16-web.log</string>
    <key>UserName</key>
    <string>djenttleman</string>
</dict>
</plist>
